/* .div-construccion {
    background-image: url('https://i.imgur.com/TIojGku.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #ffffff;
} */