body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.border-0 {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.border-02 {
  display: flex;
  flex-flow: row-reverse wrap;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
}

/* .w-75 {
  width: 100% !important;
} */

.btn {
  background: rgb(191, 154, 21);
  background: linear-gradient(151deg, rgba(191, 154, 21, 1) 49%, rgba(0, 0, 0, 1) 100%);
  color: white;
}

.card-body {
  display: flex;
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
  flex-direction: column;
}

.card-img {
  max-width: 500px;
}


.classFooter {
  width: 90vw;
  height: 6%;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.classFooter div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.classFooter2 {
  width: 35%;
}

.classFooter3 {
  margin-top: 150px;
}

.classFooter1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

#itemContainer {
  width: 230px;
  height: 430px;
  margin-top: 25px;
  transition: 400ms;
}

#itemContainer img {
  width: 100%;
}


#itemContainer:hover {
  box-shadow: inset -33px -33px 100px -29px #1184f7;
  cursor: pointer;
}

#itemContainer:active {
  box-shadow: inset -33px -33px 100px -29px #0a4b8c;
}

#idCardTitle {
  margin-bottom: 3px;
  margin-top: 15px;
}

.paraphStyle {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 150px;
  margin-top: 30px;
}

.container {
  margin: auto;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;

}

.containerBody {
  margin-top: 10vh;
  min-height: 50vh;
  display: flex;
  align-items: center;
}


#cardsSecundaries {
  color: white;
}

#catalogoLinkprimary {
  text-decoration: none;
  color: black;
}

.footerImg {
  transition: 600ms;
}

.footerImg:hover {
  scale: 1.2;
}

.animationImgDetail {
  transition: 600ms;
}

.animationImgDetail:hover {
  cursor: pointer;
}

.animationImgDetail:active {
  width: 15%;
  scale: 1.3;
  position: absolute;
  z-index: 1;
  border: 1px solid black;
}

.navColorLetter {
  color: #ffffff;
  transition: 500ms;
}

.navColorLetter:hover {
  color: #bf9a15;
}

/* .navColorLetter:last-child {
  margin-right: 90px;
} */

.navToggle {
  width: 30px;
  height: 30px;
  padding-top: 2px;
  padding-left: 4px;
  background: rgb(191, 154, 21);
  background: linear-gradient(151deg, rgba(191, 154, 21, 1) 49%, rgba(0, 0, 0, 1) 100%);
}

.navbar-toggler-icon {
  width: 19px;
  height: 19px;
  padding-right: 2px;
  /* background-color: white; */
  border-radius: 5px;
}

/* .navColorLetter:active {
  color: #bf9a15;
} */

.navColorLogo {
  background-color: #000000;
}

.itemListWidth {
  width: 20% !important;
}

.nav-container {
  margin: auto;
  background-color: black;
}


.row {
  --bs-gutter-x: 0rem;
}


.flex-jobs {

max-width: 1440px;
margin: auto;
}

.job-video {
  display: flex;
  margin: auto;
  width: 75%;
}


/* ///////////////////////////////////////// MEDIA QUIERIES//////////////////////////////////////////////////////////////// */

@media screen and (min-width: 01px) and (max-width: 990px) {
  .classFooter3 {
    display: none;
  }

  .flexList {
    display: flex;
    flex-direction: column;
  }

}

@media screen and (min-width: 120px) and (max-width: 479px) {
  #imageNav img {
    content: url("https://i.imgur.com/QyyQAjn.jpg") !important;
  }

  .list-group-section {
    display: none;
  }

  .carousel {
    display: none;
  }

  .d-flex {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }

  .animationImgDetail {
    display: none;
  }

  .cardquery {
    flex-direction: column-reverse;
  }

  .w-50 {
    width: 100% !important;
  }

  .w-75 {
    width: 100% !important;
  }

  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    padding-right: 0px;
    padding-left: 0px;

  }

  .card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-border-width: 1px;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    /* --bs-border-color-translucent: rgba(0, 0, 0, 0.175); */
  }

  .mb-3 {
    margin-bottom: 0.5rem !important;
  }

  #itemContainer {
    width: 100%;
    height: 100%;
    margin-top: 40px;
    transition: 400ms;
  }

  /* #itemContainer img {
    width: 100%;
  } */

  .navbar-brand {
    margin-right: 0px;
  }


}