.App {
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.classFooter {
  width: 1295px;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.classFooter1 {
  inline-size: -webkit-fill-available;
  z-index: -1;
  width: 1295px;
}

.classFooter2 {
  width: 55px;
}

#itemContainer {
  width: 230px;
  /* height: 547px; */
  padding-top: 25px;
}

#itemContainer:hover {
  box-shadow: inset -33px -33px 100px -29px #1184f7;
}

#itemContainer:active {
  box-shadow: inset -33px -33px 100px -29px #0a4b8c;
}

#idCard {
  padding-bottom: 3px ;
  padding-top: 15px ;
}

.paraphStyle {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 150px;
  padding-top: 30px;
}

.container {
  min-height: 100vh;
}